extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img.img-fluid(src="/img/nosotros.jpg", alt="nosotros img")
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ac odio vitae quam tincidunt fringilla. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam risus metus, porttitor a efficitur maximus, sodales sit amet nulla. Praesent pulvinar tristique consectetur. Donec venenatis justo ac libero commodo, vitae congue augue aliquam. 

                p Duis sagittis eros eget hendrerit ornare. Mauris suscipit ullamcorper libero et finibus. Phasellus lectus magna, pulvinar in ornare ut, scelerisque nec dolor. Cras malesuada arcu sed ligula lobortis viverra. Nullam ultricies enim nec massa fermentum blandit. 

                p Aliquam nec orci porta, mollis est eget, luctus nisi. Morbi iaculis turpis quis vestibulum volutpat. Maecenas eleifend vulputate sapien, et ultricies magna condimentum ut. Sed eget malesuada diam, a tempor justo. Ut id turpis ac ante blandit vehicula. Nunc venenatis est quis ante cursus, eu sollicitudin sem elementum.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="icono seguridad")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada pellentesque turpis, id aliquet quam pellentesque eget. Donec sit amet faucibus sem.

                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="icono destinos")
                    h2.mb-4 Destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada pellentesque turpis, id aliquet quam pellentesque eget. Donec sit amet faucibus sem.

                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="icono precios")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada pellentesque turpis, id aliquet quam pellentesque eget. Donec sit amet faucibus sem.